{:paths ["src/dev"
         "src/main"
         "src/test"]
 :deps {cljs-ajax {:mvn/version "0.8.0"}
        ;; Only need `encore` until that Timbre bug is fixed
        com.taoensso/encore {:mvn/version "2.94.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        macchiato/core {:mvn/version "0.2.15"}
        macchiato/env {:mvn/version "0.0.6"}
        medley {:mvn/version "1.1.0"}
        metosin/reitit-core {:mvn/version "0.3.6"}
        metosin/reitit-middleware {:mvn/version "0.3.6"}
        metosin/reitit-ring {:mvn/version "0.3.6"}
        mount {:mvn/version "0.1.16"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        re-frame {:mvn/version "0.12.0"}
        thheller/shadow-cljs {:mvn/version "2.8.94"}}
 :aliases {:watch {:extra-deps {binaryage/devtools {:mvn/version "0.9.10"}
                                cider/cider-nrepl {:mvn/version "0.21.1"}}
                   :main-opts ["-m" "shadow.cljs.devtools.cli"
                               "watch" "client" "server"]}
           :release {:main-opts ["-m" "shadow.cljs.devtools.cli"
                                 "release" "client" "server"]}}}
