{:deps true
 ;; We have to use SSL for the Shadow CLJS server because otherwise web
 ;; browsers will complain if an HTTPS page (which is required in order
 ;; to access the microphone and camera) makes a connection to a non-SSL
 ;; WebSocket address.
 :ssl {:keystore "keystore.jks"
       :password "password"}
 :builds {:client {:target :browser
                   :asset-path "/js"
                   :modules {:app {:init-fn shut-the-box.client.core/init!}}
                   :devtools {:watch-dir "resources/public"
                              :after-load shut-the-box.client.core/mount-root}
                   :dev {:output-dir "target/dev/public/js"}
                   :release {:output-dir "target/release/public/js"
                             :closure-defines {"goog.DEBUG" false}}}
          :server {:target :node-script
                   :main shut-the-box.server.core/-main
                   ;; Must set optimizations to simple, otherwise Shadow
                   ;; CLJS will use advanced, which fails spectacularly
                   ;; on Node.js.
                   :compiler-options {:optimizations :simple}
                   ;; autoload must be true for Node.js, otherwise
                   ;; Shadow CLJS will not auto-reload files!
                   ;; You have to specify the devtools-url, otherwise
                   ;; Shadow CLJS's (Node.js) REPL will try to connect
                   ;; to "localhost" which then fails because the domain
                   ;; name doesn't match what is in the SSL certificate.
                   :devtools {:autoload true
                              :devtools-url "https://devbox.example.com:9630"}
                   :dev {:output-to "target/dev/server.js"}
                   :release {:output-to "target/release/server.js"}}
          :test {:target :node-test
                 :output-to "target/test/node-test.js"
                 :autorun true
                 :devtools {:preloads [pjstadig.humane-test-output]}}}}
