* {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

html, body, div, span, ul, li {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  background-color: #454343;
  font-family: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* This has to be specified for standalone mode (since we do not
 * forcibly size the #app container in standalone mode). */
#app {
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  /* Disable the highlight that appears when a button is pressed. */
  /* TODO Do we need this?
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  */
}

/* "Create/Join" view */
.join {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.join .title {
  /* Center our child in a 33% high block */
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Text size */
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

.join .buttons {
  height: 33%;
  display: flex;
  flex-flow: column;
}

.join button {
  height: 50%;
  margin: 2rem;
  font-size: 2rem;
}

.join button.new-game {
  background-color: #83a14d;
  color: #f0f0f0;
  font-weight: bold;
}

.join button.join-game {
  background-color: #5166a9;
  color: #f0f0f0;
  font-weight: bold;
}

.join .credits {
  /* Put the child at the bottom of a 33% high block */
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #f0f0f0;

  /* Text size */
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
}

/* ---------------------------------------------------------------------
 * Game Screen
 */

.playing .player {
  margin: 16px 8px 0px 8px;
  display: grid;
  grid-template-columns: 72px auto auto;
  grid-template-rows: 24px 48px;
  grid-column-gap: 4px;
}

.playing .player .player-name {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1.25em;
}

.playing .player .player-state {
  grid-row: 1/2;
  grid-column: 3/4;
  text-align: right;
}

.playing .player .player-state.done {
  filter: opacity(0.2);
}

.playing .player .tiles {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  align-items: flex-end;
}

.tile {
  width: 10%;
  margin: 0 2px 0px 2px;
  color: #414040;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tile.up { height: 100%; }
.tile.down { height: 16px; }

.avatar0  .tile { background-color: #a16639; } /* bear */
.avatar1  .tile { background-color: #ffcc00; } /* chick */
.avatar2  .tile { background-color: #ffaaff; } /* cow */
.avatar3  .tile { background-color: #9f9898; } /* dog */
.avatar4  .tile { background-color: #d2d0d0; } /* elephant */
.avatar5  .tile { background-color: #4178c2; } /* hippo */
.avatar6  .tile { background-color: #f3dbc8; } /* horse */
.avatar7  .tile { background-color: #528cdb; } /* narwhal */
.avatar8  .tile { background-color: #d23007; } /* parrot */
.avatar9  .tile { background-color: #365a66; } /* penguin */
.avatar10 .tile { background-color: #ee9fee; } /* pig */
.avatar11 .tile { background-color: #bdb6b6; } /* rhino */

.tile .number {
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
}

.avatar {
  grid-row: 1/3;
  grid-column: 1/1;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.avatar0  .avatar { background-image: url(/img/avatars/bear.png); }
.avatar1  .avatar { background-image: url(/img/avatars/chick.png); }
.avatar2  .avatar { background-image: url(/img/avatars/cow.png); }
.avatar3  .avatar { background-image: url(/img/avatars/dog.png); }
.avatar4  .avatar { background-image: url(/img/avatars/elephant.png); }
.avatar5  .avatar { background-image: url(/img/avatars/hippo.png); }
.avatar6  .avatar { background-image: url(/img/avatars/horse.png); }
.avatar7  .avatar { background-image: url(/img/avatars/narwhal.png); }
.avatar8  .avatar { background-image: url(/img/avatars/parrot.png); }
.avatar9  .avatar { background-image: url(/img/avatars/penguin.png); }
.avatar10 .avatar { background-image: url(/img/avatars/pig.png); }
.avatar11 .avatar { background-image: url(/img/avatars/rhino.png); }

.dice {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding: 0 2px 4px 0;
}

.actions {
  display: flex;
  flex-flow: column;
}

.actions button {
  margin: 2rem;
  font-size: 2rem;
}

.selectable-tiles {
  width: calc(100vw - (2 * 8px));
  height: 40vw; /* each cell is 20vw and we want 2x cells of rows */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin: 8px;
}

.possible-tile {
  height: 100%;
  width: 100%;
  color: #414040;
  border: 5px solid #9f9898; /* dog */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.possible-tile.up { color: #9f9898; }
.possible-tile.selected { background-color: #9f9898; }
.possible-tile.down .number { display: none; }

.possible-tile .number {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}
