* {
  box-sizing: border-box;
}

html {
  touch-action: none;
}

html, body, div, span, ul, li {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  background-color: #454343;
  font-family: -apple-system, "HelveticaNeue-Light", "Helvetica Neue Light",
               "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* This has to be specified for standalone mode (since we do not
 * forcibly size the #app container in standalone mode). */
#app {
  height: 100vh;
  width: 100vw;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

  /* Disable the highlight that appears when a button is pressed. */
  /* TODO Do we need this?
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  */
}

/* "Create/Join" view */
.join {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.join .title {
  /* Center our child in a 33% high block */
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Text size */
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

.join .buttons {
  height: 33%;
  display: flex;
  flex-flow: column;
}

.join button {
  height: 50%;
  margin: 2rem;
  font-size: 2rem;
}

.join button.new-game {
  background-color: #83a14d;
  color: #f0f0f0;
  font-weight: bold;
}

.join button.join-game {
  background-color: #5166a9;
  color: #f0f0f0;
  font-weight: bold;
}

.join .credits {
  /* Put the child at the bottom of a 33% high block */
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #f0f0f0;

  /* Text size */
  text-align: center;
  font-size: 0.75rem;
  font-style: italic;
}

/* ---------------------------------------------------------------------
 * Game Screen
 */

:root {
  --avatar-size: 64px; /* 80px, 96px */
  --row-size: calc(0.34 * var(--avatar-size));
}

.playing {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(0.5 * var(--avatar-size)) min-content auto;
}

.playing .title {
}

.playing .players {
  padding: 8px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: var(--avatar-size);
  grid-row-gap: 8px;
}

.playing .actions {
}

.playing .player {
  width: 100%;
  height: var(--avatar-size);
  display: grid;
  overflow: hidden;
  grid-template-columns: var(--avatar-size) auto var(--avatar-size);
  grid-template-rows: 35% 65%;
  grid-column-gap: 4px;
}

.playing .player .avatar {
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 1/3;
  grid-column: 1/2;
}

.avatar0  .avatar { background-image: url(/img/avatars/bear.png); }
.avatar1  .avatar { background-image: url(/img/avatars/chick.png); }
.avatar2  .avatar { background-image: url(/img/avatars/cow.png); }
.avatar3  .avatar { background-image: url(/img/avatars/dog.png); }
.avatar4  .avatar { background-image: url(/img/avatars/elephant.png); }
.avatar5  .avatar { background-image: url(/img/avatars/hippo.png); }
.avatar6  .avatar { background-image: url(/img/avatars/horse.png); }
.avatar7  .avatar { background-image: url(/img/avatars/narwhal.png); }
.avatar8  .avatar { background-image: url(/img/avatars/parrot.png); }
.avatar9  .avatar { background-image: url(/img/avatars/penguin.png); }
.avatar10 .avatar { background-image: url(/img/avatars/pig.png); }
.avatar11 .avatar { background-image: url(/img/avatars/rhino.png); }

.playing .player .player-name {
  grid-row: 1/2;
  grid-column: 2/4;
  /* - 6px is to allow for the descenders */
  font-size: calc(var(--row-size) - 6px);
  overflow: hidden;
}

.playing .player .tiles {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.tile {
  color: #414040;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.tile.down .number { display: none; }

.avatar0  .tile.up { background-color: #a16639; } /* bear */
.avatar1  .tile.up { background-color: #ffcc00; } /* chick */
.avatar2  .tile.up { background-color: #ffaaff; } /* cow */
.avatar3  .tile.up { background-color: #9f9898; } /* dog */
.avatar4  .tile.up { background-color: #d2d0d0; } /* elephant */
.avatar5  .tile.up { background-color: #4178c2; } /* hippo */
.avatar6  .tile.up { background-color: #f3dbc8; } /* horse */
.avatar7  .tile.up { background-color: #528cdb; } /* narwhal */
.avatar8  .tile.up { background-color: #d23007; } /* parrot */
.avatar9  .tile.up { background-color: #365a66; } /* penguin */
.avatar10 .tile.up { background-color: #ee9fee; } /* pig */
.avatar11 .tile.up { background-color: #bdb6b6; } /* rhino */

/* .avatar0  .tile.down { border: 4px solid #a16639; } */ /* bear */
/* .avatar1  .tile.down { border: 4px solid #ffcc00; } */ /* chick */
/* .avatar2  .tile.down { border: 4px solid #ffaaff; } */ /* cow */
/* .avatar3  .tile.down { border: 4px solid #9f9898; } */ /* dog */
/* .avatar4  .tile.down { border: 4px solid #d2d0d0; } */ /* elephant */
/* .avatar5  .tile.down { border: 4px solid #4178c2; } */ /* hippo */
/* .avatar6  .tile.down { border: 4px solid #f3dbc8; } */ /* horse */
/* .avatar7  .tile.down { border: 4px solid #528cdb; } */ /* narwhal */
/* .avatar8  .tile.down { border: 4px solid #d23007; } */ /* parrot */
/* .avatar9  .tile.down { border: 4px solid #365a66; } */ /* penguin */
/* .avatar10 .tile.down { border: 4px solid #ee9fee; } */ /* pig */
/* .avatar11 .tile.down { border: 4px solid #bdb6b6; } */ /* rhino */

.playing .player .state {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
}

.playing .player .state-title {
  color: #414040;
  text-align: center;
  padding: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar0  .state-title { background-color: #a16639; } /* bear */
.avatar1  .state-title { background-color: #ffcc00; } /* chick */
.avatar2  .state-title { background-color: #ffaaff; } /* cow */
.avatar3  .state-title { background-color: #9f9898; } /* dog */
.avatar4  .state-title { background-color: #d2d0d0; } /* elephant */
.avatar5  .state-title { background-color: #4178c2; } /* hippo */
.avatar6  .state-title { background-color: #f3dbc8; } /* horse */
.avatar7  .state-title { background-color: #528cdb; } /* narwhal */
.avatar8  .state-title { background-color: #d23007; } /* parrot */
.avatar9  .state-title { background-color: #365a66; } /* penguin */
.avatar10 .state-title { background-color: #ee9fee; } /* pig */
.avatar11 .state-title { background-color: #bdb6b6; } /* rhino */

.playing .player .state-value {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none solid solid solid;
  border-width: 4px;
  border-radius: 0 0 4px 4px;
  font-size: 1.5rem;
  /* Prevent the text from enlarging the box. */
  overflow: hidden;
}
.avatar0  .state-value { border-color: #a16639; } /* bear */
.avatar1  .state-value { border-color: #ffcc00; } /* chick */
.avatar2  .state-value { border-color: #ffaaff; } /* cow */
.avatar3  .state-value { border-color: #9f9898; } /* dog */
.avatar4  .state-value { border-color: #d2d0d0; } /* elephant */
.avatar5  .state-value { border-color: #4178c2; } /* hippo */
.avatar6  .state-value { border-color: #f3dbc8; } /* horse */
.avatar7  .state-value { border-color: #528cdb; } /* narwhal */
.avatar8  .state-value { border-color: #d23007; } /* parrot */
.avatar9  .state-value { border-color: #365a66; } /* penguin */
.avatar10 .state-value { border-color: #ee9fee; } /* pig */
.avatar11 .state-value { border-color: #bdb6b6; } /* rhino */

.player .dice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}

.player .die1, .player .die2, .player .die3, .player .die4, .player .die5, .player .die6 {
  background-size: contain;
  background-repeat: no-repeat;
  /* 6px to get some padding; 2px of that comes from the padding we used
   * in the state-title */
  width: calc(var(--row-size) - 6px);
  height: calc(var(--row-size) - 6px);
}

.die1 { background-image: url(/img/dice/dieWhite1.png); }
.die2 { background-image: url(/img/dice/dieWhite2.png); }
.die3 { background-image: url(/img/dice/dieWhite3.png); }
.die4 { background-image: url(/img/dice/dieWhite4.png); }
.die5 { background-image: url(/img/dice/dieWhite5.png); }
.die6 { background-image: url(/img/dice/dieWhite6.png); }

.actions {
  display: grid;
  grid-template-columns: calc(0.75 * var(--avatar-size)) auto calc(0.75 * var(--avatar-size));
  grid-template-rows: min-content;

  --item-size: calc(0.5 * var(--avatar-size));
}

.actions .start-round, .actions .roll-dice {
  grid-column: 1/4;
  margin: 8px;
  padding: 1rem;
  /*
  color: #414040;
  background-color: #9f9898;
  */
  color: #414040;
  background-color: #008040;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.actions .left-well {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #008040;
}

.actions .dice {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 8px;
}

.actions .die1, .actions .die2, .actions .die3, .actions .die4, .actions .die5, .actions .die6 {
  width: var(--item-size);
  height: var(--item-size);
  background-size: contain;
  background-repeat: no-repeat;
}

.selectable-tiles {
  padding: 8px;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.possible-tile {
  height: 100%;
  width: 100%;
  color: #414040;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.possible-tile { border-color: #008040; }
.possible-tile.up { color: #008040; }
.possible-tile.selected { background-color: #008040; }

.possible-tile.down .number { display: none; }

.possible-tile .number {
  text-align: center;
  font-weight: 700;
  font-size: calc(var(--item-size) - 8px);
}

.actions .ok {
  grid-column: 3/4;
  font-size: calc(var(--item-size) - 8px);
  font-weight: 700;
  color: #008040;
  border: 4px solid #008040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions .ok.enabled {
  color: #414040;
  background-color: #008040;
}
